#presentation {
    font-size: 17px;
    width:80%;
}



#taquin {
    border-radius: 5px;
    position: relative;
    left: 120px;
    width:340px;
    height: 360px;
}


#taquin_window {
    border-radius: 5px;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


#first_grid {
    display: grid;
    border-radius: 2px;
    position: relative;
    grid-template-columns: repeat(4,75px);
    grid-template-rows: repeat(4,75px);
}


p[type=case]{
    border-radius: 5px;
    border-width: 3px;
    background-color: #e9967a;
    border-color: black;
    border-style: groove;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width:70px; height:70px;
    font-size: 25px;
    
}



#color_text {
    font-style:normal;
    font-size: 17px;
}


div[class=color_selector] {
    display:inline-flex;
    margin-right:50px
}

input[type=range]{
    margin-left: 20px;
    margin-right: 20px;
}

p[type = range_color] {
    font-style: oblique;
    color:black;
    font-size: 17px;
}

p[type = value_color] {
    font-style: oblique;
    color:black;
    font-size: 17px;
}

#button_random {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    
}



