.generalstatisticsdiv {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.title-page {
    text-align: center;
    margin: 2%;
}

.number-students {
    margin: 1%;
    height: 40%;
}

.grad-acad {
    margin: 1%;
    height: 40%;
}

.grad-france {
    margin: 1%;
    height: 40%;
}

.mention {
    margin: 1%;
    height: 40%;
}

.grad-brut {
    margin: 1%;
    height: 40%;
}

.mention-acad {
    margin: 2%;
    height: 40%;
}